<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium in, quidem, deserunt est ea suscipit possimus tempora fuga harum facilis delectus aspernatur ullam? Soluta, eveniet. Architecto iste omnis voluptatem maiores.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
